@using  Microsoft.AspNetCore.Identity
@inject UserManager<LambdaForums.Domain.Entities.ApplicationUser> UserManager
@inject SignInManager<LambdaForums.Domain.Entities.ApplicationUser> SignInManager

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] LambdaForums</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              asp-fallback-href="~/lib/bootstrap/dist/css/bootstrap.min.css"
              asp-fallback-test-class="sr-only" asp-fallback-test-property="position" asp-fallback-test-value="absolute"
              crossorigin="anonymous"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" />
    </environment>
    <link href="https://fonts.googleapis.com/css?family=Roboto|Roboto+Mono&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="~/css/Buttons.css" />
    <link rel="stylesheet" href="~/css/CreatePost.css" />
    <link rel="stylesheet" href="~/css/CreateForum.css" />
    <link rel="stylesheet" href="~/css/Footer.css" />
    <link rel="stylesheet" href="~/css/ForumIndex.css" />
    <link rel="stylesheet" href="~/css/ForumTopic.css" />
    <link rel="stylesheet" href="~/css/HomeIndex.css" />
    <link rel="stylesheet" href="~/css/HomeSearch.css" />
    <link rel="stylesheet" href="~/css/LatestPosts.css" />
    <link rel="stylesheet" href="~/css/Navbar.css" />
    <link rel="stylesheet" href="~/css/Post.css" />
    <link rel="stylesheet" href="~/css/Replies.css" />
    <link rel="stylesheet" href="~/css/Section.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/UserProfileIndex.css" />
    <link rel="stylesheet" href="~/css/UserProfiles.css" />
    <link rel="stylesheet" href="~/css/Privacy.css" />
    <link rel="stylesheet" href="~/css/Register.css" />
    <link rel="stylesheet" href="~/css/Login.css" />
</head>
<body>
    <header>
        <nav>
            <div class="container nav-container">
                <div class="nav-logo">
                    <a class="nav-logo-link" asp-controller="Home" asp-action="Index"></a>
                </div>
                <div class="nav-item">
                    <a class="nav-link" asp-controller="Forum" asp-action="Index">Forums</a>
                </div>
                @if (SignInManager.IsSignedIn(User))
                {
                    <div class="nav-item">
                        <a class="nav-link" asp-controller="Profile" asp-action="Detail" asp-route-id="@UserManager.GetUserId(User)">My Profile</a>
                    </div>
                }
                @if (SignInManager.IsSignedIn(User))
                {
                    @if (User.IsInRole("Admin"))
                    {
                        <div class="dropdown show nav-item">
                            <a class="dropdown-toggle nav-link" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Settings</a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a class="nav-link dropdown-link" asp-controller="Forum" asp-action="Create">Create Forum</a>
                                <a class="nav-link dropdown-link" asp-controller="Profile" asp-action="Index">View Users</a>
                            </div>
                        </div>
                    }
                    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post" id="logoutForm" class="navbar-right">
                        <div class="nav-item">
                            <button type="submit" class="btn-logout nav-link">Log Out</button>
                        </div>
                    </form>
                }
                @if (!SignInManager.IsSignedIn(User))
                {
                    <partial name="_LoginPartial" />
                }
            </div>
        </nav>
    </header>
    <div class="container">
        <partial name="_CookieConsentPartial" />
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="footer">
        <div class="container">
            &copy; 2019 - LambdaForums - <a class="privacyPolicyLink" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>

    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"
                asp-fallback-src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"
                asp-fallback-test="window.jQuery && window.jQuery.fn && window.jQuery.fn.modal"
                crossorigin="anonymous"
                integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
